h1{
	margin: 0px;
	margin-bottom: 10px;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	background: lightpink;
	text-align: center;
	padding: 20px;
	font-size: 28px;
}

#selectTasks{
	display: none;
}

#btnRemoveTask{
	display: none;
}